<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Bootstrap-ecommerce by Vosidiy">

  <title>Botics Technologies</title>

  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Bootstrap4 files-->
  <script src="../../../../javascripts/bootstrap.bundle.min.js" type="text/javascript"></script>
  <link href="../../../../stylesheets/bootstrap.css?v=1.0" rel="stylesheet" type="text/css"/>

  <!-- Font awesome 5 -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- plugin: fancybox  -->
  <script src="../../../../plugins/fancybox/fancybox.min.js" type="text/javascript"></script>
  <link href="../../../../plugins/fancybox/fancybox.min.css" type="text/css" rel="stylesheet">

  <!-- plugin: owl carousel  -->
  <link href="../../../../plugins/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../../../plugins/owlcarousel/assets/owl.theme.default.css" rel="stylesheet">
  <script src="../../../../plugins/owlcarousel/owl.carousel.min.js"></script>

  <!-- custom style -->
  <link href="../../../../stylesheets/ui.css?v=1.0" rel="stylesheet" type="text/css"/>
  <link href="../../../../stylesheets/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <link href="../../../../stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <!-- Rxjs -->
  <script src="https://unpkg.com/@reactivex/rxjs@5.0.0-beta.7/dist/global/Rx.umd.js"></script>
  <!-- custom javascript -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../../../../javascripts/script.js" type="text/javascript"></script>
</head>
<body>
<header class="section-header">
  <section class="header-main">
  	<div class="container">
  <div class="row align-items-center">
  	<div class="col-lg-3 col-sm-4">
  	<div class="brand-wrap">
  		<a href="/"><img class="logo" src="../../../../images/one.png"></a>
  		<!-- <h2 class="logo-text">BOTICS TECHNOLOGIES</h2> -->
  	</div> <!-- brand-wrap.// -->
  	</div>
    <div class="col-lg-4 col-xl-5 col-sm-8">
  			<form action="/Search/q" method="get" class="search-wrap">
  				<div class="input-group w-100">
  				    <input type="text" name="searchbox" class="form-control" id="searchbox" style="width:55%;" placeholder="Search item or tutorial">
              <select class="custom-select"  id="SearchFilter" name="SearchFilter">
                <option value="Items" > Items </option>
                <option value="Videos"> Videos </option>
  					</select>
  				    <div class="input-group-append">
  				      <button class="btn btn-primary" type="submit">
  				        <i class="fa fa-search"></i>
  				      </button>
  				    </div>


  			    </div>
  			</form> <!-- search-wrap .end// -->
  	</div> <!-- col.// -->
    <div class="col-lg-5 col-xl-4 col-sm-12">
  		<div class="widgets-wrap float-right">
  			<a href="/pages/store-front/p/shopping-cart" class="widget-header mr-3">
  				<div class="icontext">
  					<div class="icon-wrap"><i class="icon-sm round border fa fa-shopping-cart"></i></div>
  					<div class="text-wrap">
              <% if( typeof session.cart != 'undefined' && session.cart != ''){ %>
                <span class="small badge badge-danger">
                <%=session.cart.totalQty %>
                </span>
              <% }%>
  						<div>Cart</div>
  					</div>
  				</div>
  			</a>
        <% if( typeof user != 'undefined'){ %>
  			<div class="widget-header">
  				<a href="/users/login" data-toggle="dropdown"  data-offset="20,10">
  					<div class="icontext">
  						<div class="icon-wrap"><i class="icon-sm round border fa fa-user"></i></div>
  						<div class="text-wrap">
  							<small>Welcome</small>
  							<div><%= user.firstname %> <i class="fa fa-caret-down"></i> </div>
  						</div>
  					</div>
  				</a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/users/dashboard">Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Logout</a>
  				</div> <!--  dropdown-menu .// -->
  			</div>  <!-- widget-header .// -->
        <% }else{%>
          <div class="widget-header">
    				<a href="/users/login"  data-offset="20,10">
              <div class="icontext">
  						<div class="icon-wrap"><i class="icon-sm round border fa fa-user"></i></div>
  						<div class="text-wrap">
  							<small>Sign in | Join</small>
  							<div>My account  </div>
  						</div>
  					</div>
    				</a>
    			</div>  <!-- widget-header .// -->
          <%} %>
  		</div> <!-- widgets-wrap.// -->
  	</div> <!-- col.// -->
  </div> <!-- row.// -->
  	</div> <!-- container.// -->
  </section> <!-- header-main .// -->


<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<b style="color:#f9f9f9;" class="cnt-sm">for surport call &nbsp; <i class="fa fa-phone"></i> +233 244 361 636</b>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/pages/store-front">STORE-FRONT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment">PAYMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tutorials">TUTORIALS</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about" >ABOUT AUTHOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq" >FAQ'S</a>
        </li>
      </ul>
    </div> <!-- collapse .// -->
    <b style="color:#f9f9f9;" class="cnt-bg">for surport call &nbsp; <i class="fa fa-phone"></i> +233 244 361 636</b>
  </div> <!-- container .// -->
</nav>

</header> <!-- section-header.// -->
<section class="section-content bg padding-y-sm">
<div class="container">
<nav class="mb-3">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="/about">Featured videos</li>
</ol>
</nav>

<div class="row">
<div class="col-xl-10 col-md-9 col-sm-12">


<main class="card">
  <div class="card-body">
    <!-- <div class="video-responsive">
			<iframe width="100%" height="315" src="<%=f_video.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div> -->
    <div class="video-responsive">
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/d9KMvnMwxmg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
    <h3><%= f_video.title %></h3>
    <div class="row">
      <ul class="list-unstyled video-list-thumbs row">
          <% if (videos){ %>
            <% for(var i=0; i< videos.length; i++){ %>

              <li class="col-lg-3 col-sm-4 col-xs-6">
                <a href="/featured_vid/view?id=<%= videos[i].id %>" title="<%= videos[i].title %>">
                  <img src="<%= videos[i].video_img_url %>" alt="turial video preview" class="img-responsive" height="130px" style="width:100%"/>
                  <h2><%= videos[i].title %></h2>
                  <i class="fa fa-play-circle-o"></i>
                </a>
              </li>
            <% } %>
          <% } %>
        </ul>
          </div>
  </div>
</main> <!-- card.// -->



<!-- PRODUCT DETAIL .// -->

</div> <!-- col // -->
<aside class="col-xl-2 col-md-3 col-sm-12">
<div class="card">
	<div class="card-header">
	    For Support
	</div>
  <div class="card-body small">
     <b>Call <i class="fa fa-phone"></i> <br> 0244 361 636<br>0247 004 668</b>
     <hr>
     Please contact with us if you have any questions. <br> We are available <br>
     Mondays - Fridays <br> from 9:00 AM - 5:00 PM.
  </div> <!-- card-body.// -->
</div> <!-- card.// -->
<div class="card mt-3">
	<div class="card-header">
	    You may like
	</div>
	<div class="card-body row">
    <% for (var i = 0; i < product.length; i++) { %>
<div class="col-md-12 col-sm-3">
	<figure class="item border-bottom mb-3">
			<a href="/pages/store-front/product_detail/p/?q=<%= product[i]._id %>" class="img-wrap"> <img src="../../images/<%= product[i].imagePath_one %>" class="img-md"></a>
			<figcaption class="info-wrap">
				<a href="/pages/store-front/product_detail/p/?q=<%= product[i]._id %>" class="title"><%= product[i].title %></a>
				<div class="price-wrap mb-3">
					<span class="price-new">Ghc <%= product[i].price %></span>
				</div> <!-- price-wrap.// -->
			</figcaption>
	</figure> <!-- card-product // -->
</div> <!-- col.// -->
<% } %>
	</div> <!-- card-body.// -->
</div> <!-- card.// -->
</aside> <!-- col // -->
</div> <!-- row.// -->
</div><!-- container // -->
</section>
<!-- ========================= SECTION CONTENT .END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<% include ../partials/footer %>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>
