<% include ../partials/ecommerce-hd %>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y border-top">
<div class="container">
  <nav class="mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pages/store-front">Store-front</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cart</li>
  </ol>
  </nav>
<div class="row">
	<main class="col-sm-9"  style="margin-bottom:20px">

<div class="card">
  <div class="card-body">
    <% if(  products && products.length > 0 ){ %>

    <% products.forEach(function(product){ %>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="media">
                        <img src="../../../images/<%=product.item.imagePath_one%>" class="img-thumbnail img-sm img-wrap" style="width:80px;height:80px;margin-right:8px">
                        <div class="media-body">
                          <h6 class="title text-truncate"><%=product.item.title%></h6>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="price-wrap">
                          <small class="text-muted">price</small>
                          <var class="price">GHc <%=product.price%></var> <br>
                          <small class="text-muted">(GHc <%=product.unitPrice%> each)</small>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <dl class="dlist-inline">
                          <dt>Quantity: </dt>
                          <dd>
                            <div class="control-wrap">
                                <div class="btn-minus" data-id="<%= product.item._id%>"> <i class="fa fa-minus"></i></span> </div>
                                <input name="name" value="<%= product.qty %>" id="<%= product.item._id%>" class="cartAlter"/>
                                <div class="btn-plus" data-id="<%= product.item._id%>"> <i class="fa fa-plus"></i></div>
                            </div>
                          </dd>
                        </dl>
                      </div>
                      <div class="col-md-4">
                        <button type="button" id="<%=product.item._id%>" class="btn btn-outline-danger del" style="margin-top:13px"> × Remove</button>

                      </div>
                    </div>
                    </div>
                  </div>
                  <hr>
                  <%})%>
              <div class="ibox-content">
                  <a href="/pages/store-front" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Continue shopping</a>
              </div>
              <% }else{ %>
                  <h1 style="text-align:center;padding:50px 0px;">NO items in your shopping-cart</h1>
                <% } %>
</div>
</div> <!-- card.// -->

	</main> <!-- col.// -->

	<aside class="col-sm-3">
    <% if(  products && products.length > 0 ){ %>
      <div class="col" style="margin-bottom:20px">
        <p class="alert alert-success"><strong>Cart Summary </strong><small><% if( typeof session.cart != 'undefined'){ %><%=session.cart.totalQty %><% } %> item(s)</small></p>
        <dl class="dlist-align">
          <dt>Total price: </dt>
          <dd class="text-right">GHc <%=totalPrice%></dd>
        </dl>
        <dl class="dlist-align h4">
          <dt>Total:</dt>
          <dd class="text-right"><strong>GHc <%=totalPrice%></strong></dd>
        </dl>
        <hr>
        <a href="/pages/store-front/p/shopping-cart/checkout" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
      </div>
      <% } %>
      <div class="col" >
        <div class="card">
        	<div class="card-header">
        	    For Support
        	</div>
          <div class="card-body small">
        		 <b>Call <i class="fa fa-phone"></i> +233 247 004 668</b>
        		 <hr>
        		 Please contact with us if you have any questions. <br> We are available
             Monday - Saturday from 9:00 AM - 5:00 PM.
        	</div> <!-- card-body.// -->
        </div>
      </div>
      <div class="col" style="margin-top:20px">
        <div class="card">
        	<div class="card-header">
        	   You may like
        	</div>
          <div class="card-body row">
      <% for (var i = 0; i < product.length; i++) { %>
<div class="col-md-12 col-sm-3">
	<figure class="item border-bottom mb-3">
			<a href="/pages/store-front/product_detail/p/?q=<%= product[i]._id %>" class="img-wrap"> <img src="/../../images/<%= product[i].imagePath_one %>" class="img-md"></a>
			<figcaption class="info-wrap">
				<a href="/pages/store-front/product_detail/p/?q=<%= product[i]._id %>" class="title"><%= product[i].title %></a>
				<div class="price-wrap mb-3">
					<span class="price-new">Ghc <%= product[i].price %></span>
				</div> <!-- price-wrap.// -->
			</figcaption>
	</figure> <!-- card-product // -->
</div> <!-- col.// -->
<%}%>
	</div> <!-- card-body.// -->
        </div>
      </div>


	</aside> <!-- col.// -->


</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= FOOTER ========================= -->
<% include ../partials/footer %>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>
